.help-container {
  background-color: #0d5965;
  border-radius: 50%;
  display: flex;
  width: 1.2rem;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.help {
  background-color: #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.main-content {
  padding: 2rem;
}

table {
  border-collapse: collapse;
  height: 100%;
  width: 60rem;
}

td {
  border: 1px solid #e0e0e0;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #a7d1cf;
  color: #fff;
  border: 1px solid #e0e0e0;
}

td {
  font-size: 11px;
  color: #616161;
}

.t-header {
  height: 5rem;
  font-size: 12px;
}

.vazia {
  width: 2.5rem;
}

.gray-bg {
  background-color: #f1f1f1;
}

.w-bg {
  background-color: #fff;
}

.r-bdc {
  border-right: 2px solid #a7d1cf;
}

tr td img {
  cursor: pointer;
}

@media (max-width: 425px) {
  table {
    width: 15rem;
  }
  table,
  td,
  th {
    font-size: .4rem;
  }
  td img {
    width: .4rem;
  }
}
