.content-main {
  justify-content: flex-end;
  gap: 0;
}

.content-main::selection {
  background-color: #0d5965;
  color: #fff;
}

.grid {
  transition: 0.4s ease;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: min(100%, 70rem);
  margin: 1rem auto;
  gap: 1.5rem;
}

.bloco {
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.dados {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 15rem;
  width: 35rem;
}

.pendencias,
.faltas {
  grid-column: 2 / 3;
}

.info-pendencias {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

hr {
  color: #0d5965;
  border: 1px solid #0d5965;
}

.grid-dados {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  gap: 0 10px;
}

.setor {
  grid-column: 1 / 3;
}

.dados-title {
  margin-bottom: 0.8rem;
  color: #0d5965;
}

.dados-value {
  color: #555;
  border-bottom: 1px solid #999999af;
  padding-bottom: 0.5rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid-dados hr {
  color: #0d5965;
  border: 0.5px solid #0d5965;
}

h6 span {
  color: #000;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.topo h2 {
  margin: 0;
  color: #005f73;
  font-size: 20px;
}

.seta {
  font-size: 30px;
  color: #00738a;
  cursor: pointer;
  user-select: none;
}

.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.info {
  color: #6bbecb;
  font-size: 20px;
  font-weight: bold;
}

.info span {
  font-size: 16px;
  font-weight: normal;
  color: #999;
}

select {
  border: none;
  background: #d9edf2;
  color: #176b86;
  padding: 10px 14px;
  border-radius: 12px;
  font-size: 15px;
  outline: none;
}

@media (max-width: 1385px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: fit-content;
  }

  .faltas .rodape {
    display: none;
  }
}

@media (max-width: 1024px) {
  .bloco {
    width: 100%;
    font-size: 1rem;
  }

  .faltas,
  .pendencias {
    height: 100%;
    width: 30rem;
  }

  .grid-dados {
    gap: 0 5px;
  }

  .grid {
    gap: 5px;
    grid-template-rows: repeat(2, 1fr);
  }

  .faltas .topo h2,
  .topo {
    margin-bottom: 0;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-rows: repeat(2, 0.45fr);
  }

  .dados {
    grid-column: 1 / 3;
  }

  .faltas,
  .pendencias {
    max-width: 20rem;
  }
}

@media (max-width: 425px) {
  .grid {
    grid-template-rows: repeat(3, 0.9fr);
  }

  .dados {
    font-size: 0.7rem;
  }

  .bloco {
    width: 10rem;
    grid-column: 1 / 2;
  }
}
