.sidebar {
    width: 250px;
    background-color: #0d5965;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    grid-area: sidebar;
}