.r-sidebar {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 235px;
    align-items: center;
    box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.3);
    transition: transform .2s ease;
}


.search {
    display: flex;
    align-items: center;
    width: 220px;
    padding: 2px 5px;
    background: #e1f5fc;
    margin: 10px 0;
    border-radius: 15px;
}

.search input {
    display: flex;
    border: none;
    background: #eee;
    width: 100%;
    outline: none;
    border-radius: 16px;
    font-weight: bolder;
    padding: 3px 10px;
}

.search input::placeholder {
    font-weight: bold;
    font-size: 12px;
    text-align: right;
}

.search i {
    color: #047885;
    font-size: 11px;
}

@media (max-width: 1385px) {
    .r-sidebar {
        display: none;
    }
}


